# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/

# Large generated artifacts and downloads
BayesElo/
Stockfish/
lc0/
*.pb
bayeselo.tar.bz2
fairy-stockfish-largeboard_x86-64
